h1= title1
ul
each el in master
	li
		if bold == el.CategoryID
			b
				a(href= '/index?category='+el.CategoryID) #{el.CategoryName}
		else
			a(href= '/index?category='+el.CategoryID) #{el.CategoryName}
		
if detail != null
	h2= title2
	form(id='poslji-obrazec')
		input(id='dodaj' type='button' value='Dodaj' onclick='dodaj()')
		input(id='posodobi' type='button' value='Posodobi' onclick='posodobi()')
		input(id='zbrisi' type='button' value='Zbriši' onclick='zbrisi()')
	table
		thead
			tr
				th
				th Ime
				th Cena
				th Zaloga
				th
		tbody
			p
				each el in detail
					tr
						td
							input(type="radio", id=el.ProductID, name="products")
						td #{el.ProductName}
						td #{el.UnitPrice} €
						td #{el.UnitsInStock}
						td
						
				if add
					tr		
						td
						td
							input(id='ime')
						td
							input(id='cena')
						td
							input(id='kolicina')
						td
							input(id='shrani' type='button' value='Shrani' onclick='shrani()')