h1= title1
each el in master
	p
		if bold == el.CategoryID
				input(onchange="izbran()", type="radio", value=el.CategoryID, name="categories")
				b
					a(href= '/index?category='+el.CategoryID) #{el.CategoryName} (#{el.Description})
		else
			input(onchange="izbran()", type="radio", value=el.CategoryID, name="categories")
			a(href= '/index?category='+el.CategoryID) #{el.CategoryName} (#{el.Description})
		
if detail != null
	h2= title2
	form(id='poslji-obrazec')
		input(onclick="dodaj()" id="dod" type="button" value="Dodaj")
		input(id='pos' type='button' value='Posodobi' onclick="posodobi()")
		input(id='zbr' type='button' value='Zbriši' onclick="zbrisi()")
	table
		thead
			tr
				th
				th Ime
				th Cena
				th Zaloga
				th
		tbody
			p
				each el in detail
					tr
						td
							input(type="radio", value=el.ProductID, name="products")
						td #{el.ProductName}
						td #{el.UnitPrice} €
						td #{el.UnitsInStock}
						td
						
				if add
					tr
						td
						td
							input(id='name')
						td
							input(id='price')
						td
							input(id='quantity')
						td
							input(id='shr' type='button' value='Shrani' onclick='shrani()')